doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/style.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(src="js/script.js")
  body
    #spec
      a(href="")
    #header-wrap
      #figure1
      #figure2
      #figure3
      #header
        .head-part
          #logo-text рекламно-производственная компания в Саратове
          #head-soc
            a(href="").soc-inst
            a(href="").soc-twitter
            a(href="").soc-vk
          #head-left-menu
            a(href="").active-menu ГЛАВНАЯ
            a(href="") О НАС
            a(href="") УСЛУГИ
        .head-part
          #logo
            a(href="")
        .head-part
          #head-cont
            span +7 (8452) 599-101 
            br
            span +7 (8452) 599-104
          #head-submit
            a(href="") оставить заявку
          #head-right-menu
            a(href="") ПРОЕКТЫ
            a(href="") НОВОСТИ
            a(href="") КОНТАКТЫ
      #head-h
        span Профессиональный комплексный подход 
        br
        span от разработки эскиза идеи до безупречного исполнения
      #head-get-discount Как получить консультацию специалиста и сэкономить 10%?
      a(href="")#head-want ХОЧУ УЗНАТЬ
    #services
      #quote
        p Вести бизнес, не делая рекламы, равносильно подмигиванию девушке в полной темноте.
        p Вы знаете, что вы делаете, но больше никто.
        p#quote-author Стюард Хендерсон Бритт, английский психолог
      #serv-list
        li#serv1
          a(href="")
            #serv-design
              span ДИЗАЙН 
              br 
              span РЕКЛАМЫ
        li#serv2
          a(href="")
            #serv-copy
              span ПЕЧАТЬ 
              br 
              span РЕКЛАМЫ
        li#serv3
          a(href="")
            #serv-manuf
              span ПРОИЗВОДСТВО 
              br 
              span РЕКЛАМЫ
            #serv-manuf2
              span отличительная особенность данной услуги именно у нашей компании
    #how-to
      #how-to-h КАК ВОСПОЛЬЗОВАТЬСЯ НАШИМИ УСЛУГАМИ:
      #how-to-list
        .ht-elem
          .ht-elem-img#ht1
          .ht-text ПОЗВОНИТЬ
        .ht-sep
        .ht-elem
          .ht-elem-img#ht2
          .ht-text ЗАКАЗАТЬ
        .ht-sep
        .ht-elem
          .ht-elem-img#ht3
          .ht-text СОГЛАСОВАТЬ
        .ht-sep
        .ht-elem
          .ht-elem-img#ht4
          .ht-text ОПЛАТИТЬ
        .ht-sep
        .ht-elem
          .ht-elem-img#ht5
          .ht-text ПОЛУЧИТЬ
    #best-offers-wrap
      #figure4
      #best-offers
        #bo-h Самые интересные предложения от Саратовоблпечать
        #offers
          .offer
            a(href="") НОВЫМ клиентАМ
          .offer
            a(href="") постоянныМ клиентАМ
          .offer
            a(href="") БУДУЩИМ партнерАМ
        #offer-text Продающий текст продающий текст продающий текст продающий текст продающий текст продающий текст п родающий те кст продающий текст продающий текст продающий текст продающий текст про дающий текст  продаю щий текст п род  ающий  текст продающий текст продаю щий текст прод ающий текст  продающий те кст продающий текст продающий текст прода ющий те кст прода ющи й текст продающий текст продающий текст  пр одающий текст продающий текст продающий текст продающий текст продающий текст продающий тек ст прода ющий текст продающий т екст продающий текст продаю щий текст продающий текст продающий текст продающий текст продающий текст продающий текст прод ающий текст прода ющ  ий текс т продающий текст продающий текст продающий текст  продающий текст прода ющий текст про дающий текст продающи й текст продаю щий текст продающий текст продающий текст продающий текст прод ающий текст продающий текст про дающий текст продающий текст продающий текст продающий текст продающий текст продающи й те кст  продающий текст продающий тек ст продающий текст продающий текст  продающий текст продающий т екст прода ющий текст продающий текст  продающий текст п родающий текст продающий текст продающий текст.
        #news
          .news
            .news-date
              span 12
              span .06
            a(href="").news-about Какая-то новость или акция проводимая нашей компанией и обещающая большие скидки для своих клиентов, либо что-то еще ценное
            .news-more
              a(href="") подробнее
          .news
            .news-date
              span 12
              span .06
            a(href="").news-about Какая-то новость или акция проводимая нашей компанией и обещающая большие скидки для своих клиентов, либо что-то еще ценное
            .news-more
              a(href="") подробнее
          .news-all
            a(href="") все новости и акции
    #our-works
      #figure5
      #our-works-h НАШИ ПОСЛЕДНИЕ ПРОЕКТЫ
      #portf-list
        #portf-left
        #portf-right
        ul#portf-slider
          li
            img(src="images/portfolio/portf1.jpg")
          li
            img(src="images/portfolio/portf2.jpg")
          li
            img(src="images/portfolio/portf3.jpg")
          li
            img(src="images/portfolio/portf4.jpg")
          li
            img(src="images/portfolio/portf5.jpg")
          li
            img(src="images/portfolio/portf5.jpg")
          li
            img(src="images/portfolio/portf5.jpg")
          li
            img(src="images/portfolio/portf5.jpg")
          li
            img(src="images/portfolio/portf5.jpg")
    #footer-wrap
      #footer
        #footer-logo
          a(href="")
        #footer-cont
          span +7 (8452) 599-101
          br 
          span +7 (8452) 599-104
        ul.footer-menu
          li.footer-active
            a(href="") Главная
          li
            a(href="") О нас
          li
            a(href="") Наши услуги
        ul.footer-menu
          li
            a(href="") Проекты
          li
            a(href="") Новости
          li
            a(href="") Контакты
        #footer-soc
          a(href="").soc-inst
          a(href="").soc-twitter
          a(href="").soc-vk
        #copyrights © 2014-2015 СаратовОблПечать. Все права защищены.